 Without Selenium -- 
 Below code is to:
1. Assign the Names to table from list 
2. save the list of tables in Dataframe 
3. Export  'df' to CSV file

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

url = r"https://www.screener.in/company/IRFC/"
response = requests.get(url)

List_df_names = ['Quarterly Results','Profit & Loss','Compounded Sales Growth','Compounded Profit Growth',
                 'Stock Price CAGR','Return on Equity','Balance Sheet','Cash Flows','Ratios','Shareholding Pattern','duplicate_Shareholding Pattern']

if response.status_code == 200:
    html_code = response.text
    soup = BeautifulSoup(html_code, 'html.parser')
    tables = soup.find_all('table')
    dataframes = []

    for idx, table in enumerate(tables):
        df = pd.read_html(str(table))[0]
        dataframes.append(df)

        # Check if the index is within the range of List_df_names
        if idx < len(List_df_names):
            # Assign the name to the DataFrame
            df_name = List_df_names[idx]
            print(f"{df_name} DataFrame:\n{df}\n\n")
            
            # Save each DataFrame to a CSV file with the corresponding name
            df.to_csv(f"{df_name}.csv", index=False)

else:
    print(f"Failed and Status code: {response.status_code}")

Quarterly Results DataFrame:
           Unnamed: 0 Sep 2020 Dec 2020 Mar 2021 Jun 2021 Sep 2021 Dec 2021  \
0             Sales +     3714     3932     4455     4582     4690     5096
1          Expenses +       19        7       51        3       28        9
2    Operating Profit     3695     3925     4404     4578     4662     5087
3               OPM %     100%     100%      99%     100%      99%     100%
4      Other Income +        0        0        0        0        0        1
5            Interest     2700     2878     2918     3073     3157     3491
6        Depreciation        0        0        4        3        3        3
7   Profit before tax      995     1047     1483     1502     1501     1594
8               Tax %       0%       0%       0%       0%       0%       0%
9        Net Profit +      995     1047     1483     1502     1501     1594
10          EPS in Rs     0.84     0.88     1.13     1.15     1.15     1.22
11            Raw PDF      NaN      NaN      NaN      NaN      NaN      NaN

   Mar 2022 Jun 2022 Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0      5932     5627     5810     6218     6236     6679     6767
1        82       23       34       31       47       29       34
2      5849     5605     5776     6188     6189     6650     6733
3       99%     100%      99%     100%      99%     100%     100%
4         1        0        1        4       36        2        1
5      4353     3940     4059     4554     4895     5091     5181
6         5        4        4        4        3        4        2
7      1493     1662     1714     1633     1328     1557     1550
8        0%       0%       0%       0%       0%       0%       0%
9      1492     1662     1714     1633     1328     1557     1550
10     1.14     1.27     1.31     1.25     1.02     1.19     1.19
11      NaN      NaN      NaN      NaN      NaN      NaN      NaN


Profit & Loss DataFrame:
           Unnamed: 0 Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016 Mar 2017  \
0             Sales +     4642     5550     6197     6939     7507     9047
1          Expenses +        9       22       19       34       38       26
2    Operating Profit     4633     5528     6178     6905     7468     9021
3               OPM %     100%     100%     100%     100%      99%     100%
4      Other Income +        1        2        1        1        1        0
5            Interest     3620     4075     4607     4992     5519     6888
6        Depreciation        0        0        0        0        0        0
7   Profit before tax     1013     1454     1572     1914     1950     2133
8               Tax %      53%      64%      55%      60%      56%      56%
9        Net Profit +      481      522      701      758      849      934
10          EPS in Rs   228.73   221.76   209.04   211.58   187.50   143.08
11  Dividend Payout %      21%      21%       6%      20%      40%      40%

   Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023    TTM
0      9267    11134    13421    15771    20299    23892  25900
1        38       48       66      113      123      134    141
2      9229    11085    13355    15657    20177    23758  25760
3      100%     100%     100%      99%      99%      99%    99%
4         1       -0        0        0        2       41     43
5      6638     8183    10163    11237    14075    17447  19721
6         0        0        0        4       14       14     13
7      2592     2902     3192     4416     6090     6337   6068
8       21%      22%       0%       0%       0%       0%    NaN
9      2055     2255     3192     4416     6090     6337   6068
10     3.15     2.40     2.69     3.38     4.66     4.85   4.65
11      18%      18%       0%      31%      30%      31%    NaN


Compounded Sales Growth DataFrame:
  Compounded Sales Growth Compounded Sales Growth.1
0               10 Years:                       16%
1                5 Years:                       21%
2                3 Years:                       21%
3                    TTM:                       15%


Compounded Profit Growth DataFrame:
  Compounded Profit Growth Compounded Profit Growth.1
0                10 Years:                        28%
1                 5 Years:                        25%
2                 3 Years:                        26%
3                     TTM:                        -6%


Stock Price CAGR DataFrame:
  Stock Price CAGR Stock Price CAGR.1
0        10 Years:                  %
1         5 Years:                  %
2         3 Years:                  %
3          1 Year:               129%


Return on Equity DataFrame:
  Return on Equity Return on Equity.1
0        10 Years:                13%
1         5 Years:                14%
2         3 Years:                15%
3       Last Year:                15%


Balance Sheet DataFrame:
            Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  Mar 2016  \
0       Equity Capital      2102      2352      3352      3584      4526
1             Reserves      3299      4042      4210      5098      6999
2         Borrowings +     50251     58753     69917     71270     87503
3  Other Liabilities +      4424      5608      6451      7696      9372
4    Total Liabilities     60076     70755     83930     87647    108400
5       Fixed Assets +        13        13        13        12        12
6                 CWIP         0         0         0         0         0
7          Investments        15        13        11         9         8
8       Other Assets +     60048     70729     83906     87626    108381
9         Total Assets     60076     70755     83930     87647    108400

   Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  Mar 2023  \
0      6526      6526      9380     11880     13069     13069     13069
1      5483      7402     15648     18419     22845     27928     32402
2    106395    134006    173933    234377    323145    388440    418935
3     11245     13534      7642     10828     21423     20544     26742
4    129650    161468    206604    275504    380482    449980    491147
5        12        11        11        11        45        38        19
6         0         0         0         0         0         0         0
7         8        14        13        12        12        10        14
8    129630    161443    206579    275482    380424    449932    491114
9    129650    161468    206604    275504    380482    449980    491147

   Sep 2023
0     13069
1     34615
2    406443
3     42888
4    497014
5        26
6         0
7        35
8    496953
9    497014


Cash Flows DataFrame:
                       Unnamed: 0  Mar 2012  Mar 2013  Mar 2014  Mar 2015  \
0  Cash from Operating Activity +       NaN       NaN       NaN       NaN
1  Cash from Investing Activity +       NaN       NaN       NaN       NaN
2  Cash from Financing Activity +       NaN       NaN       NaN       NaN
3                   Net Cash Flow       NaN       NaN       NaN       NaN

   Mar 2016  Mar 2017  Mar 2018  Mar 2019  Mar 2020  Mar 2021  Mar 2022  \
0    -16378    -19455    -28076    -41748    -62701    -89907    -64412
1         2         2         2         1         1         0        -5
2     17582     18250     28075     41749     62697     90202     64266
3      1206     -1204         0         3        -2       296      -151

   Mar 2023
0    -28584
1         0
2     28643
3        60


Ratios DataFrame:
              Unnamed: 0  Mar 2012 Mar 2013 Mar 2014 Mar 2015 Mar 2016  \
0            Debtor Days       0.0        0        0        0        0
1         Inventory Days       NaN      NaN      NaN      NaN      NaN
2           Days Payable       NaN      NaN      NaN      NaN      NaN
3  Cash Conversion Cycle       0.0        0        0        0        0
4   Working Capital Days     -27.0     -171      -17      221      295
5                 ROCE %       NaN       9%       9%       9%       8%

  Mar 2017 Mar 2018 Mar 2019 Mar 2020 Mar 2021 Mar 2022 Mar 2023
0        0        0        0        0        0     3609     3730
1      NaN      NaN      NaN      NaN      NaN      NaN      NaN
2      NaN      NaN      NaN      NaN      NaN      NaN      NaN
3        0        0        0        0        0     3609     3730
4      263     5869     6326     7020     8137     7593     6995
5       8%       7%       6%       6%       5%       5%       5%


Shareholding Pattern DataFrame:
            Unnamed: 0 Mar 2021 Jun 2021 Sep 2021 Dec 2021 Mar 2022 Jun 2022  \
0          Promoters +   86.36%   86.36%   86.36%   86.36%   86.36%   86.36%
1               FIIs +    1.44%    0.86%    1.06%    1.09%    1.12%    1.02%
2               DIIs +    4.23%    3.74%    3.18%    3.20%    3.18%    3.25%
3             Public +    7.97%    9.03%    9.40%    9.34%    9.33%    9.36%
4  No. of Shareholders  1352259  1449111  1477212  1519487  1515226  1490302

  Sep 2022 Dec 2022 Mar 2023 Jun 2023 Sep 2023
0   86.36%   86.36%   86.36%   86.36%   86.36%
1    1.05%    1.01%    1.15%    1.14%    1.14%
2    3.39%    2.97%    2.62%    2.02%    1.63%
3    9.19%    9.66%    9.87%   10.49%   10.88%
4  1459497  1605726  1634919  1805740  2703000


duplicate_Shareholding Pattern DataFrame:
            Unnamed: 0 Mar 2021 Mar 2022 Mar 2023 Sep 2023
0          Promoters +   86.36%   86.36%   86.36%   86.36%
1               FIIs +    1.44%    1.12%    1.15%    1.14%
2               DIIs +    4.23%    3.18%    2.62%    1.63%
3             Public +    7.97%    9.33%    9.87%   10.88%
4  No. of Shareholders  1352259  1515226  1634919  2703000

C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\ManoharMadisetty\AppData\Local\Temp\ipykernel_19840\1274142046.py:18: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]